<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <title>{% block title %}СМИ {% endblock %}</title>
        {% block stylesheets %}

            <link rel="stylesheet" href="/build/components.css" />
            <link rel="stylesheet" href="/build/app.css" />

        {% endblock %}
    </head>
    <body>

        <div class="container">
            <section class="header col-md-12 bg-primary">
                <a href="/">
                    <img class="pull-left" src="/images/logo.svg" class="logo" style="width:100px; margin-right:20px">
                </a>
                <h2>Проверка СМИ</h2>

                {% if is_granted("ROLE_USER") %}
                    {{ app.user.name }}
                {% endif %}

                <br class="clearfix"/>
            </section>

            <section>
                <br class="clearfix"/>
                {% block content %}
                    <h2>Welcome!</h2>
                {% endblock %}
            </section>
        </div>

        <script src="/build/components.js"></script>

    </body>
</html>
