.mainSearch {

    padding: 50px 0;

    .searchInput {
        font-size: 2em;
        height: 2em;
    }

    [type=submit] {
        font-size: 2em;
        width: 100%;
    }

    .overview{
        height: 110px;

        p {
            font-size: 1.4em;
            color: gray;
        }

        .arrow {
            transform: scaleX(-1) rotate(90deg);
            position: absolute;
            margin: -20px 20px 0 40px;

            img {
                width: 100px;
                opacity: 0.7;
                animation-name: popup-animation;
                animation-duration: 1s;
                animation-timing-function: cubic-bezier();
                animation-iteration-count: 3;
                //animation-delay: 2s;
            }

        }
    }
}
